@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

body{
    font-family: 'Baloo Bhai 2';
    background-color: #FFFFFF;
}

.title{
    font-size: 70px;
}

.button-class{
    margin-top: 15%; 
    margin-left: 40%;
}

.button{
    background-color: #D8A7DB;
    border: none;
    display:block;
    font-size: 20px;
}