*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
    text-align: center;
	width:100%;
	margin:auto;
	max-width:1100px;
	min-height:600px;
    border-radius: 1cm;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    justify-content: center;
    
}
.login-html{
	width:100%;
	height:100%;
    border-radius: 1cm;
	position:absolute;
	padding:40px 70px 50px 70px;
	background:#E8E8E8;
    justify-content: center;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	padding-bottom:5px;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:black;
	border-color:#9B9A9A;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
    justify-content: center;
}
.login-form .group .label,
.login-form .group .input
{
	width:100%;
	color:rgb(31, 6, 6);
	display:block;
}
.login-form .group .button{
    width: 40%;
    margin-left: 29%;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .input{
	background-color: white;
    opacity: 50%;
}
.login-form .group .button{
	background:#9B9A9A;
    color: black
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:black;
    font-weight: 500;
    font-size: 20;
    margin-top: 20px;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	background:rgba(255,255,255,.2);
}
.foot-lnk a{
	color:rgb(43, 150, 196);
	font-size:15px;
    justify-content: right;
}
.input-container{
    margin-top: 3%;
}

.chicken{
    background-color: #D8A7DB;
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    justify-content: center;
}
.input-box{
    border-radius: 30px;;
   
    background-color: #FFFFFF;
    border-style: none;
    height: 50px;
    width: 300px;
    font-size: 30px;;
}
.label{
    font-size: 40px;
}
.button-container{
    margin-top: 7%;
    margin-left: 40%; 
}
.button{
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
    margin: 30px;
    display:block;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    font-size: 20px;
}

.welcome {
    padding-bottom: 30px;
}
.welcome .connect {
    font-size: xxx-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-transform: uppercase;
}

.welcome .tagline {
    font-size: large;
    font-weight:400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-transform: uppercase;
}
