.questions{
    display: flex;
    justify-content: center;

}

.question-label{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 2%;
}

.question-input{
    display: flex;
    flex-direction: column;
}
.content-questions{
    background-color: #e6e6e6;
    margin-left: 5%;
    border-radius: 0%;
    width: 90%;
    height: 500px;
    overflow: scroll;
    
}

.label-userinfo{
    background-color: #63B4FA;
    border-radius: 35px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
    margin-bottom: 10%
}

.input-box-userinfo{
    border-radius: 30px;;
    border-color: #D8A7DB;
    background-color: #FFFFFF;
    opacity: 70%;
    border-style: none;
    height: 50px;
    width: 300px;
    margin-bottom: 3%;
    color:#aaa;
	font-size:12px;
    padding-left: 5%;

}

.button-userinfo{
    background-color: #AFABE4;
    border-radius: 50px;
    border: none;
    margin-left: 45%;
    display:block;
    font-size: 20px;
}

.checkboxes{
    margin-bottom: 5%;
    margin-top: 10%;
}